[Unit]
Description=Loopback ipv6 to ipv4 on port 443

[Service]
ExecStart=/usr/bin/socat TCP6-LISTEN:443,fork TCP4:127.0.0.1:443
Restart=always

[Install]
WantedBy=multi-user.target